{% extends "core/base.html" %} {% block content %}
<div class="mt-5">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
 <!--1st row-->
  <div class="row text-white text-center">
    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-magnifying-glass-dollar fa-3x mb-2 i-color"></i>
      <h3>SEO</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore?
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-palette fa-3x mb-2 i-color"></i>
      <h3>Web Design</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore?
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-code fa-3x mb-2 i-color"></i>
      <h3>Web Development</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore?
      </p>
    </div>
  </div>
  <!--2nd row-->
  <div class="row text-white text-center">
    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-magnifying-glass-dollar fa-3x mb-2 i-color"></i>
      <h3>SEO</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore? 
       
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-palette fa-3x mb-2 i-color"></i>
      <h3>Web Design</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore? 
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-code fa-3x mb-2 i-color"></i>
      <h3>Web Development</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore?
      </p>
    </div>
  </div>
  <!--3rd row-->
  <div class="row text-white text-center">
    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-magnifying-glass-dollar fa-3x mb-2 i-color"></i>
      <h3>SEO</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore? 
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-palette fa-3x mb-2 i-color"></i>
      <h3>Web Design</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore? 
      </p>
    </div>

    <div class="col-sm-4 mb-2">
      <i class="fa-solid fa-code fa-3x mb-2 i-color"></i>
      <h3>Web Development</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        veritatis esse ad doloribus quis voluptatibus, quae labore? 
      </p>
    </div>
  </div>
</div>
</div>
</div>




{% endblock content %}
